# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.production

# Uploads
uploads/csv/*
uploads/recordings/*
!uploads/csv/.gitkeep
!uploads/recordings/.gitkeep

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo